{{- define "main" -}}
{{- $bib := partial "papers/get_bib_entry.html" .Params.bibtex -}}
{{- $equalContributors := int (.Params.equalContributors | default (index $bib "equalcontributors") | default "0") -}}
{{- $displayTitle := .Title | default (index $bib "title") -}}
{{- $displayAuthors := .Params.authors | default (index $bib "author") -}}
{{- $displayPublication := .Params.publication | default (index $bib "publication") -}}
{{- $displayYear := .Params.publicationYear | default (index $bib "year") -}}
{{- $displayUrl := .Params.paperUrl | default (index $bib "url") -}}
{{- $displayCode := .Params.code | default (index $bib "code") -}}

<article class="post-single post-single-papers">
  <header class="post-header">
    <h1 class="post-title">{{ $displayTitle }}</h1>
    <div class="post-meta paper-meta">
      <div class="paper-authors-row">
        <span class="paper-authors">{{ partial "papers/render_authors.html" (dict "authors" $displayAuthors "equalContributors" $equalContributors) }}</span>
      </div>
      <div class="paper-meta-row">
        {{- if $displayPublication }}
        <span>{{ $displayPublication }}</span>
        {{- else if eq (index $bib "type") "inproceedings" }}
        <span>{{ index $bib "booktitle" }}</span>
        {{- end }}
        {{- with $displayYear }}
        <span>{{ . }}</span>
        {{- end }}
        {{- if gt $equalContributors 0 }}
        <span>* equal contribution</span>
        {{- end }}
      </div>
    </div>
  </header>

  <div class="post-content">
    {{- if or $displayUrl $displayCode }}
    <div class="paper-links-divider" aria-hidden="true"></div>
    <ul class="paper-links">
      {{- if $displayUrl }}
      <li>
        <a class="paper-link-icon" href="{{ $displayUrl }}" target="_blank" rel="noopener noreferrer">
          {{ partial "svg.html" (dict "name" "paper") }}
          <span>Paper</span>
        </a>
      </li>
      {{- end }}
      {{- if $displayCode }}
      <li>
        <a class="paper-link-icon" href="{{ $displayCode }}" target="_blank" rel="noopener noreferrer">
          {{ partial "svg.html" (dict "name" "code") }}
          <span>Code</span>
        </a>
      </li>
      {{- end }}
    </ul>
    {{- end }}

    {{- if .Content }}
    {{ .Content }}
    {{- end }}

    {{- if .Params.showBibtex }}
    <h5>BibTeX</h5>
    <pre><code class="language-bibtex">{{ index $bib "raw" }}</code></pre>
    {{- end }}
  </div>
</article>
{{- end -}}
